  .detail-header{
    width: 100.5%;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  }
  .v-detail-avatarUrl {
    width: 250px;
    height: 250px;
    margin-top: -60px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  }
  .creator{
    position: absolute;
    top: 20px;
    left: 280px;
    font-weight: 400;
    font-size: 1.3em;
  }
  .v-detail-nickname{
    position: absolute;
    top: 60px;
    left: 320px;
    font-weight: 500;
    font-size: 2.2em;
  }
  .v-detail-signature{
    position: absolute;
    top: 90px;
    left: 320px;
    font-weight: 400;
    font-size: 1.2em;
    width: 35%;
  }
  .v-detail-items{
    cursor: pointer;
  }
  .v-detail-items:hover{
    background-color: rgba(6,6,6,.1) !important;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
  }
  .v-detail-icon{
    margin-right: 10px !important;
  }
  .md-divider{
    margin-left: 20px !important;
  }