.play-pause:hover,.v-player-pre:hover,.v-player-next:hover,.v-player-voice:hover,.v-playlist-button:hover{
  background-color: rgba(100,100,100,.5);
  transition: all .3s ease-out;
}
#v-player-container{
  z-index: 999;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #06a2e5;
  box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}
#v-player-control{
  display: flex;
  width: 10%;
  align-items: center;
  margin-left: 20px;
}
.play-pause{
  cursor: pointer;
  width: 40%;
  padding: 0;
  margin-top: -3px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
#play-pause-icon{
  font-size: 4em;
  margin-top: 3px;
}
.v-player-pre,.v-player-next{
  cursor: pointer;
  width: 30%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
#previous,#next{
  font-size: 3em;
}
#progress{
  width: 63%;
}
#time{
  font-size: 1.3em;
  margin-left: 10px;
}
.v-player-voice{
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
#volume-duration{
  width: 8%;
}
#voice{
  font-size: 2em;
}
.v-playlist-button{
  cursor: pointer;
  position: absolute;
  right: .5%;
  bottom: 25px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
#v-playlist{
  z-index: 998;
  position: fixed;
  right: 0;
  bottom: 90px;
  width: 40%;
  height: 60%;
  overflow: scroll;
  background-color: #fff;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px rgba(0,0,0,.14), 0 1px 18px rgba(0,0,0,.12);
}
#v-playlist::-webkit-scrollbar{
  width: 5px;
}
.v-playlist-tabbar{
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  right: 0;
  bottom: 60% + 40px;
  width: 40%;
  height: 50px;
  background-color: #06a2e5;
}
.v-playlist-title{
  width: 10%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  background-color: #ccc;
}
.v-playlist-close,.v-playlist-clear{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.v-playlist-close:hover,.v-playlist-clear:hover{
  background-color: rgba(142,138,138,.5);
  transition: all .3s ease-out;
}
.v-playlist-items{
  width: 98%;
  list-style: none;
}
.v-playlist-playing{
  background-color: rgba(5,5,5,.1) !important;
}
.showlist-enter,.showlist-leave-active{
  opacity: 0;
}
.showlist-enter-active,.showlist-leave-active{
  transition: all .3s cubic-bezier(.69,.01,.04,1.17);
}